@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
$dark_o: #fc7400;
$light_o: #ffa009;
$light_t: #00b49d;
$t: #007563;
$dark_t: #012523;
$background_color: rgb(1, 21, 20);
$white: #e6f1ff;
$lightest_slate: #ccd6f6;
$light_slate: #a8b2d1;
$slate: #8892b0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  scroll-behavior: smooth;
}
p, th, td {
  letter-spacing: 1px;
}
//Custom Scrollbar
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: $light_slate;
  // border-radius: 16px;
  border: 5px solid transparent;
  opacity: 0.5;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $light_t;
  border: 4px solid transparent;
  opacity: 0.8;
}

/* set (top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

#intro-div {
  z-index: 9999;
  animation: intro 0.5s ease-in-out forwards 2.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgb(1, 21, 20);
  font-size: 72px;
  color: $light_t;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    animation: appear 2s ease-in-out forwards;
    opacity: 0;
    transform: rotateY(-190deg);
  }
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1030;
  // background: $dark_t;
}
.scrolled-down {
  transform: translateY(-110%);
  transition: all 0.3s ease-in-out;
  background: transparent;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  background: $dark_t;
}

body {
  animation: body_overflow 6s linear forwards;
  background: $dark_t;
  overflow-y: hidden;
}

#logo:hover {
  opacity: 0.8;
}

.nav-links {
  a {
    color: $lightest_slate;
    text-decoration: none;
  }
  a:hover {
    color: $light_t;
  }
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 50px;
  #links-only {
    display: flex;
    margin-left: auto;
    li {
      padding: 10px 20px;
    }
  }
}

#outer-main {
  // margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  #main {
    min-height: 100vh;
    width: 80%;
    #upper-main {
      min-height: 100vh;
      padding-top: 150px;
      padding-bottom: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .short-desc {
        color: $lightest_slate;
        letter-spacing: 1px;
        margin-top: 30px;
        width: 70%;
      }
      .hello-name {
        color: $light_t;
        letter-spacing: 1px;
      }
      .name,
      .sub-name {
        font-size: 4rem;
        color: $lightest_slate;
        font-weight: bold;
        letter-spacing: 2px;
      }
      .sub-name {
        color: $light_o;
        background-image: linear-gradient(30deg, $light_o, $dark_o);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
      }
    }
    .section-heading {
      font-size: 2rem;
      color: $light_t;
      font-weight: bold;
    }
    #about-me {
      min-height: 100vh;
      padding-top: 100px;
      padding-bottom: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .para-picture {
        display: flex;
        flex-direction: row-reverse;
        // flex-wrap: wrap-reverse;
        justify-content: space-between;
        .para {
          width: 60%;
          color: $lightest_slate;
          padding: 30px 30px 30px 0;
          .svg-skill {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            p {
              margin: 0;
              padding: 10px 30px 10px 10px;
              color: $light_t;
              font-size: 0.9rem;
            }
          }
          #outer-svg {
            display: flex;
            flex-wrap: wrap;
            // width: 60%;
          }
        }
        .picture {
          display: flex;
          justify-content: center;
          align-items: center;
          // background: pink;
          width: 300px;
          height: 300px;
          border: 2px solid $light_t;
          border-radius: 50%;
          margin: 20px 0 20px 20px;
          .picture-background {
            position: relative;
            // overflow: hidden;
            border-radius: 50%;
            width: 250px;
            height: 250px;
            img {
              border-radius: 50%;
            }
            #overlay-effect {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              // background: $dark_o;
              // opacity: 0.2;
              border-radius: 10%;
              border: 2px solid $light_t;
              animation: rotate 15s linear forwards 0s infinite;
              transition: all 1s ease-in-out;
            }
            #overlay-effect:hover {
              border-radius: 20%;
            }
          }
        }
      }
    }
    #my-projects {
      min-height: 100vh;
      padding-top: 100px;
      // padding-bottom: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      
      .project-holder{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 35px;
        padding-bottom: 35px;
        img{
          opacity: 0.6;
          border-radius: 5px;
          box-shadow: 0px 0px 15px $background_color;
          transition: 0.5s ease-in-out;
          width: 80%;
        }
        img:hover{
          opacity: 0.9;
        }
        .project-content{
          width: 50%;
          text-align: right;
          p:nth-child(1){
            color: $t;
            font-size: 1.5rem;
          }
          p{
            color: $lightest_slate;
          }
          a{
            padding: 10px 0 10px 20px;
            text-decoration: none;
          }
          a:hover{
            opacity: 0.8;
          }
          svg{
            fill: $light_o;
          }
        }
      }
      .project-holder2{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 35px;
        img{
          opacity: 0.6;
          border-radius: 5px;
          box-shadow: 0px 0px 15px $background_color;
          transition: 0.5s ease-in-out;
          width: 80%;
        }
        img:hover{
          opacity: 0.9;
        }
        .project-content2{
          width: 60%;
          text-align: center;  
          p:nth-child(1){
            color: $t;
            font-size: 1.5rem;
          }
          p{
            color: $lightest_slate;
          }
          a{
            padding: 10px 0 10px 20px;
            text-decoration: none;
          }
          a:hover{
            opacity: 0.8;
          }
          svg{
            fill: $light_o;
          }
        }
      }
      .project-holder3{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 35px;
        img{
          opacity: 0.6;
          border-radius: 5px;
          box-shadow: 0px 0px 15px $background_color;
          transition: 0.5s ease-in-out;
          width: 80%;
        }
        img:hover{
          opacity: 0.9;
        }
        .project-content3{
          width: 50%;
          text-align: left;
          p:nth-child(1){
            color: $t;
            font-size: 1.5rem;
          }
          p{
            color: $lightest_slate;
          }
          a{
            padding: 10px 20px 10px 0px;
            text-decoration: none;
          }
          a:hover{
            opacity: 0.8;
          }
          svg{
            fill: $light_o;
          }
        }
      }
    }
  }
}
#complete-project-list{
  padding: 100px 0;
  table{
    width: 100%;
  }
  tr{
    transition: 0.5s ease-in-out;
  }
  tr:hover{
    background: $background_color;
  }
  th, td{
    color: $t;
    padding: 15px;
    a{
      padding: 10px 20px 10px 0;
      text-decoration: none;
    }
    a:hover{
      opacity: 0.8;
    }
    svg{
      fill: $light_o;
    }
  }
  td{
    color: $light_t;
  }
}
.projects-intro{
  color: $lightest_slate;
  margin-top: 35px;
}
#contact-me{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px;
  #social-holder{
    margin: 35px 0;
    display: flex;
    flex-wrap: wrap;
    a{
      text-decoration: none;
      padding: 15px;
    }
    a:hover svg{
      fill: $light_t;
    }
    svg{
      fill: $t;
      width: 30px;
      height: 30px;
    }
  }
}
//ALL ANIMATIONS
@keyframes appear {
  100% {
    opacity: 1;
    filter: brightness(120%);
    transform: rotateY(0deg);
  }
}

@keyframes intro {
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes body_overflow {
  100% {
    overflow-y: visible;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
