@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  scroll-behavior: smooth;
}

p,
th,
td {
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #a8b2d1;
  border: 5px solid transparent;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00b49d;
  border: 4px solid transparent;
  opacity: 0.8;
}

/* set (top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

#intro-div {
  overflow-x: hidden;
  z-index: 9999;
  -webkit-animation: intro 0.5s ease-in-out forwards 2.5s;
          animation: intro 0.5s ease-in-out forwards 2.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #011514;
  font-size: 72px;
  color: #00b49d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#intro-div svg {
  -webkit-animation: appear 2s ease-in-out forwards;
          animation: appear 2s ease-in-out forwards;
  opacity: 0;
  -webkit-transform: rotateY(-190deg);
          transform: rotateY(-190deg);
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1030;
}

.scrolled-down {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent;
}

.scrolled-up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #012523;
}

body {
  -webkit-animation: body_overflow 6s linear forwards;
          animation: body_overflow 6s linear forwards;
  background: #012523;
  overflow-y: hidden;
  overflow-x: hidden;
}

#logo:hover {
  opacity: 0.8;
}

.nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 50px;
}

.nav-links a {
  color: #ccd6f6;
  text-decoration: none;
}

.nav-links a:hover {
  color: #00b49d;
}

#links-only {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

#links-only li {
  padding: 10px 20px;
}

#outer-main {
  overflow-x: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#outer-main #main {
  min-height: 100vh;
  width: 80%;
}

#outer-main #main #upper-main {
  overflow-x: hidden;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#outer-main #main #upper-main .short-desc {
  color: #ccd6f6;
  letter-spacing: 1px;
  margin-top: 30px;
  width: 70%;
}

#outer-main #main #upper-main .hello-name {
  color: #00b49d;
  letter-spacing: 1px;
}

#outer-main #main #upper-main .name,
#outer-main #main #upper-main .sub-name {
  font-size: 4rem;
  color: #ccd6f6;
  font-weight: bold;
  letter-spacing: 2px;
}

#outer-main #main #upper-main .sub-name {
  color: #ffa009;
  background-image: linear-gradient(30deg, #ffa009, #fc7400);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#outer-main #main .section-heading {
  font-size: 2rem;
  color: #00b49d;
  font-weight: bold;
}

#outer-main #main #about-me {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#outer-main #main #about-me .para-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#outer-main #main #about-me .para-picture .para {
  width: 60%;
  color: #ccd6f6;
  padding: 30px 30px 30px 0;
}

#outer-main #main #about-me .para-picture .para .svg-skill {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#outer-main #main #about-me .para-picture .para .svg-skill p {
  margin: 0;
  padding: 10px 30px 10px 10px;
  color: #00b49d;
  font-size: 0.9rem;
}

#outer-main #main #about-me .para-picture .para #outer-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#outer-main #main #about-me .para-picture .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 300px;
  border: 2px solid #00b49d;
  border-radius: 50%;
  margin: 20px 0 20px 20px;
}

#outer-main #main #about-me .para-picture .picture .picture-background {
  position: relative;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

#outer-main #main #about-me .para-picture .picture .picture-background img {
  border-radius: 50%;
}

#outer-main #main #about-me .para-picture .picture .picture-background #overlay-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  border: 2px solid #00b49d;
  -webkit-animation: rotate 15s linear forwards 0s infinite;
          animation: rotate 15s linear forwards 0s infinite;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#outer-main #main #about-me .para-picture .picture .picture-background #overlay-effect:hover {
  border-radius: 20%;
}

#outer-main #main #my-projects {
  min-height: 100vh;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#outer-main #main #my-projects .project-holder {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 35px;
  padding-bottom: 35px;
}

#outer-main #main #my-projects .project-holder img {
  opacity: 0.6;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px #011514;
          box-shadow: 0px 0px 15px #011514;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 80%;
}

#outer-main #main #my-projects .project-holder img:hover {
  opacity: 0.9;
}

#outer-main #main #my-projects .project-holder .project-content {
  width: 50%;
  text-align: right;
}

#outer-main #main #my-projects .project-holder .project-content p:nth-child(1) {
  color: #007563;
  font-size: 1.5rem;
}

#outer-main #main #my-projects .project-holder .project-content p {
  color: #ccd6f6;
}

#outer-main #main #my-projects .project-holder .project-content a {
  padding: 10px 0 10px 20px;
  text-decoration: none;
}

#outer-main #main #my-projects .project-holder .project-content a:hover {
  opacity: 0.8;
}

#outer-main #main #my-projects .project-holder .project-content svg {
  fill: #ffa009;
}

#outer-main #main #my-projects .project-holder2 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

#outer-main #main #my-projects .project-holder2 img {
  opacity: 0.6;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px #011514;
          box-shadow: 0px 0px 15px #011514;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 80%;
}

#outer-main #main #my-projects .project-holder2 img:hover {
  opacity: 0.9;
}

#outer-main #main #my-projects .project-holder2 .project-content2 {
  width: 60%;
  text-align: center;
}

#outer-main #main #my-projects .project-holder2 .project-content2 p:nth-child(1) {
  color: #007563;
  font-size: 1.5rem;
}

#outer-main #main #my-projects .project-holder2 .project-content2 p {
  color: #ccd6f6;
}

#outer-main #main #my-projects .project-holder2 .project-content2 a {
  padding: 10px 0 10px 20px;
  text-decoration: none;
}

#outer-main #main #my-projects .project-holder2 .project-content2 a:hover {
  opacity: 0.8;
}

#outer-main #main #my-projects .project-holder2 .project-content2 svg {
  fill: #ffa009;
}

#outer-main #main #my-projects .project-holder3 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 35px;
}

#outer-main #main #my-projects .project-holder3 img {
  opacity: 0.6;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px #011514;
          box-shadow: 0px 0px 15px #011514;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 80%;
}

#outer-main #main #my-projects .project-holder3 img:hover {
  opacity: 0.9;
}

#outer-main #main #my-projects .project-holder3 .project-content3 {
  width: 50%;
  text-align: left;
}

#outer-main #main #my-projects .project-holder3 .project-content3 p:nth-child(1) {
  color: #007563;
  font-size: 1.5rem;
}

#outer-main #main #my-projects .project-holder3 .project-content3 p {
  color: #ccd6f6;
}

#outer-main #main #my-projects .project-holder3 .project-content3 a {
  padding: 10px 20px 10px 0px;
  text-decoration: none;
}

#outer-main #main #my-projects .project-holder3 .project-content3 a:hover {
  opacity: 0.8;
}

#outer-main #main #my-projects .project-holder3 .project-content3 svg {
  fill: #ffa009;
}

#complete-project-list {
  overflow-x: hidden;
  padding: 100px 0;
}

#complete-project-list table {
  width: 100%;
}

#complete-project-list tr {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#complete-project-list tr:hover {
  background: #011514;
}

#complete-project-list th,
#complete-project-list td {
  color: #007563;
  padding: 15px;
}

#complete-project-list th a,
#complete-project-list td a {
  padding: 10px 20px 10px 0;
  text-decoration: none;
}

#complete-project-list th a:hover,
#complete-project-list td a:hover {
  opacity: 0.8;
}

#complete-project-list th svg,
#complete-project-list td svg {
  fill: #ffa009;
}

#complete-project-list td {
  color: #00b49d;
}

.projects-intro {
  color: #ccd6f6;
  margin-top: 35px;
}

#contact-me {
  overflow-x: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

#contact-me #social-holder {
  margin: 35px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact-me #social-holder a {
  text-decoration: none;
  padding: 15px;
}

#contact-me #social-holder a:hover svg {
  fill: #00b49d;
}

#contact-me #social-holder svg {
  fill: #007563;
  width: 30px;
  height: 30px;
}

#contact-me .email-me {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  text-decoration: none;
  padding: 10px 20px;
  background: transparent;
  border-radius: 10px;
  color: #00b49d;
  border: 1.5px solid #007563;
}

#contact-me .email-me:hover {
  background: #007563;
  color: #011514;
}

footer {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer p {
  font-size: 0.8rem;
  margin: 0;
}

footer .footer-heading {
  font-weight: bold;
  color: #00b49d;
}

footer .footer-content {
  color: #007563;
}

footer .footer-attribution {
  color: #00b49d;
}

footer .footer-attribution a {
  text-decoration: underline;
  color: #00b49d;
}

footer .footer-attribution a:hover {
  color: #007563;
}

footer #created-by {
  padding: 20px;
  margin-top: 35px;
  background: #011514;
  opacity: 0.8;
  width: 100%;
}

footer #created-by a {
  color: #ccd6f6;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
    -webkit-filter: brightness(120%);
            filter: brightness(120%);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes appear {
  100% {
    opacity: 1;
    -webkit-filter: brightness(120%);
            filter: brightness(120%);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@-webkit-keyframes intro {
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes intro {
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@-webkit-keyframes body_overflow {
  100% {
    overflow-y: visible;
  }
}

@keyframes body_overflow {
  100% {
    overflow-y: visible;
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  p {
    font-size: 0.9rem;
  }
  #intro-div svg {
    width: 50px;
  }
  #outer-main #main #upper-main .name,
  #outer-main #main #upper-main .sub-name {
    font-size: 3rem;
  }
  #outer-main #main .section-heading {
    font-size: 1.8rem;
  }
  #outer-main #main #about-me .para-picture {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #outer-main #main #about-me .para-picture .para {
    width: 100%;
  }
  #outer-main #main #about-me .para-picture .picture {
    width: 250px;
    height: 250px;
    margin: 20px 20px 20px 0;
  }
  #outer-main #main #about-me .para-picture .picture .picture-background {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  footer p {
    padding: 0 15px;
  }
  footer #created-by a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 800px) {
  #outer-main #main #my-projects .project-holder .project-content,
  #outer-main #main #my-projects .project-holder .project-content2,
  #outer-main #main #my-projects .project-holder .project-content3,
  #outer-main #main #my-projects .project-holder2 .project-content,
  #outer-main #main #my-projects .project-holder2 .project-content2,
  #outer-main #main #my-projects .project-holder2 .project-content3,
  #outer-main #main #my-projects .project-holder3 .project-content,
  #outer-main #main #my-projects .project-holder3 .project-content2,
  #outer-main #main #my-projects .project-holder3 .project-content3 {
    width: 75%;
  }
  #complete-project-list tr,
  #complete-project-list th,
  #complete-project-list td {
    font-size: 0.9rem;
  }
  #complete-project-list th {
    padding: 15px 20px;
  }
  #complete-project-list td {
    padding: 15px 0;
    margin: 0 10px;
  }
  #complete-project-list td a {
    padding: 15px 0 15px 15px;
  }
  #complete-project-list td svg {
    width: 20px;
  }
}

@media screen and (max-width: 600px) {
  .extra-para {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  #outer-main #main #my-projects .project-holder img,
  #outer-main #main #my-projects .project-holder2 img,
  #outer-main #main #my-projects .project-holder3 img {
    width: 100%;
  }
  #contact-me #social-holder svg {
    width: 25px;
    height: 25px;
  }
  #contact-me .email-me {
    font-size: 0.9rem;
  }
  .nav-links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-links a {
    color: #00b49d;
  }
  .nav-links a:hover {
    color: #007563;
  }
  .nav-links .hamburger-outer {
    z-index: 1031;
    padding: 15px;
  }
  .nav-links .hamburger {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background: #00b49d;
    z-index: 1031;
  }
  #links-only {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    position: fixed;
    top: 0;
    right: -102%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #011514;
    opacity: 0.8;
  }
  #links-only.clicked {
    right: 0;
  }
  #outer-main.clicked {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
  .hamburger-outer.clicked .hamburger1 {
    -webkit-transform: rotate(45deg) translateX(39%);
            transform: rotate(45deg) translateX(39%);
  }
  .hamburger-outer.clicked .hamburger3 {
    -webkit-transform: rotate(315deg) translateX(39%);
            transform: rotate(315deg) translateX(39%);
  }
  .hamburger-outer.clicked .hamburger2 {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    opacity: 0;
  }
  .logo {
    z-index: 1031;
  }
}

@media screen and (max-height: 400px) and (max-width: 600px) {
  .nav-links a {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .nav-links {
    padding: 10px 25px;
  }
  #outer-main #main {
    width: 90%;
  }
  #outer-main #main #upper-main .name,
  #outer-main #main #upper-main .sub-name {
    font-size: 2rem;
  }
  #outer-main #main #upper-main .short-desc {
    width: 90%;
  }
  #outer-main #main .section-heading {
    font-size: 1.6rem;
  }
  #outer-main #main #my-projects .project-holder .project-content,
  #outer-main #main #my-projects .project-holder .project-content2,
  #outer-main #main #my-projects .project-holder .project-content3,
  #outer-main #main #my-projects .project-holder2 .project-content,
  #outer-main #main #my-projects .project-holder2 .project-content2,
  #outer-main #main #my-projects .project-holder2 .project-content3,
  #outer-main #main #my-projects .project-holder3 .project-content,
  #outer-main #main #my-projects .project-holder3 .project-content2,
  #outer-main #main #my-projects .project-holder3 .project-content3 {
    width: 90%;
  }
}
/*# sourceMappingURL=index.css.map */